* {
    box-sizing: border-box;
}
/*Altera toda a fonte da página*/
body {
    width:100%;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}


/*Muda apenas o header inicial*/

header{
    background-color: black;
    padding: 5px;
}

/* .caixa{
    margin-left: 50%;
    transform: translateX(-62%);
} */

.caixaPreta{
    width: 500px;
    height: 300px;
    display: table;
    margin: auto;
    background: black;
    border-radius: 20px;
    border: 2px solid white;
    color: white;
    padding-left: 15px;
    padding-top: 5px;
}

.hidden{
    position: relative;
    text-align: center;
    margin-top: 50px;
}

.btnpedido{
    position: relative;
    width: 150px;
    height: 80px;
    margin-bottom: 50px;
    background: black;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: xx-large;
    font-family: 'Open Sans', sans-serif;
}

.btnpedido:hover{
    background: white;
    color: black;
}


footer {
    background: #000 url(../images/capa_PizzaMakers_inova_no_conceito_de_pizzaria.jpg) no-repeat;
    background-size: cover;
    color: #fff;
    width: 100%;
    height: 860px;
    position: relative;
    padding-top: 30px;
}

.logo{
    width: 20px 20px;


}

a{
    position: relative;
    color: white;
    font-size: 30px;
    padding-right: 20px;
    top: 50px;
}

a:hover{
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
}


/*Cor do texto do link*/
#header a {
    color: white;
}

#header nav {
    text-align: right;

}

#header nav ul, #header nav ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
}

/* #header .title {
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    text-align: center;
} */